.container {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('./Images/fondo.jpg');
  position: absolute;
}

.containerCards {
  display: grid;
  flex-wrap: wrap;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.reload {
  position: absolute;
  top: 20px;
  left: 350px;
  background: #b07a56;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: fantasy, Courier New, monospace;
  border: solid #b07a56 1px;
  font-size: 16px;
  color: #b07a56;
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465B,
    5px 5px 15px #41465B,
    inset 5px 5px 10px #212121,
    inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465B,
    5px 5px 15px #41465B,
    inset 5px 5px 10px #212121,
    inset -5px -5px 10px #212121;
}

.reload:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e,
    -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e,
    -1px -1px 13px #545b78;
  color: #b07a56;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.reload:active {
  -webkit-box-shadow: 1px 1px 13px #20232e,
    -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e,
    -1px -1px 33px #545b78;
  color: #b07a56;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.link {
  position: absolute;
  top: 20px;
  left: 500px;
  width: 100px;
  text-decoration: none;
  background: #b07a56;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: fantasy, Courier New, monospace;
  border: solid #b07a56 1px;
  font-size: 16px;
  color: #b07a56;
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465B,
    5px 5px 15px #41465B,
    inset 5px 5px 10px #212121,
    inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465B,
    5px 5px 15px #41465B,
    inset 5px 5px 10px #212121,
    inset -5px -5px 10px #212121;
}

.link:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e,
    -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e,
    -1px -1px 13px #545b78;
  color: #b07a56;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.link:active {
  -webkit-box-shadow: 1px 1px 13px #20232e,
    -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e,
    -1px -1px 33px #545b78;
  color: #b07a56;
  -webkit-transition: 100ms;
  transition: 100ms;
}
