.container {
  border-radius: 20px;
  height: 280px;
  width: 260px;
  margin-right: 20px;
  border-style: solid;
  border-color: #835f48;
}

h2 {
  color: #b07a56;
  font-family: fantasy;
}

.img {
  border-radius: 20px;
  width: 80%;
  height: 100px;
  border-style: double;
  border-color: #835f48;
}

h4 {
  color: #b07a56;
  font-family: fantasy;
}

.link {
  text-decoration: none;
}
